html{

   background: #2db3acbb;
}


button {
    padding: 10px 20px; /* Ajusta el relleno para hacer los botones más grandes */
    margin: 5px; /* Añade espacio entre los botones */
    font-size: 16px; /* Tamaño de la fuente */
    border-radius: 50%;
    margin-bottom: 20px;
    position: relative;
    
    border: 4px solid #89cc80;
    background-color: #ffae00dc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.reiniciar{
  padding: 5% 5px; /* Ajusta el relleno para hacer los botones más grandes */
    margin: 5px; /* Añade espacio entre los botones */
    font-size: 20px; /* Tamaño de la fuente */
    border-radius: 50%;
    margin-bottom: 20px;
    position: relative;
    
    border: 4px solid #00ff9d4b;
    background-color: #33ff00;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #dadada;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

.wheel {
  padding: 5% 5%;
  width: 35vh;
  
  height: 35vh;
  border-radius: 50%;
margin-block-start: auto;
  position:relative;

  border: 4px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: conic-gradient(
    #FF5733 3%,
    #FFBD33 7%,
    #FFFA33 10%,
    #75FF33 15%,
    #33FF57 20%,
    #33FFBD 25%,
    #33FFFA 30%,
    #3375FF 35%,
    #5733FF 40%,
    #BD33FF 45%,
    #FF33FA 50%,
     #BD33FF 55%,
     #5733FF 60%,
     #3375FF 65%,
     #33FFFA 70%,
     #33FFBD 75%,
     #33FF57 80%,
     #75FF33 85%,
      #FFFA33 90%,
      #FFBD33 93%,
      #FF5733 97%
    
  );
}
  
  .spin-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .spin-btn:hover {
    background-color: #0056b3;
  }
  #resultadoTema {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }